.edit-profile-page {
    width: 60vw;
    flex-grow: 1;
    align-self: center;
}


.input-container-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 4rem;
}


.edit-profile-page>h2 {
    width: 80vw;
    max-width: 1200px;
    margin-top: 2rem;
    color: #718355;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 0;
}


.up-container-profile {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}


.first-name-profile, .last-name-profile {
    width: 220px;
    font-size: 1.3rem;
}


.first-name-profile>input, .last-name-profile>input, .bio-profile>textarea, .email-profile>input, .confirm-email-profile>input, .password-profile>input, .confirm-password-profile>input {
    box-sizing: border-box;
    width: 220px;
    height: 35px;
    font-size: 1.3rem;
    background-color: #B5C99A;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #2e2e2ed7;
}

.error-text {
    box-sizing: border-box;
    width: 220px;
    font-size: 1rem;
    position: absolute;
    background-color: white;
    color: rgba(255, 0, 0, 0.699);
    margin: 0.5rem 0;
    padding: 0.2rem 1rem 1rem 0.5rem;
    border-radius: 10px;
}

.bio-profile .error-text {
    width: 100%;
}


.email-profile, .confirm-email-profile {
    width: 220px;
    font-size: 1.3rem;
}


.email-profile>input, .confirm-email-profile>input {
    width: 220px;
    height: 35px;
    font-size: 1.2rem;
}

.check-emoji {
    font-size: 1rem;
    margin: 0 0 0 0.3rem;
}


.bio-profile {
    font-size: 1.3rem;
    margin-top: 0.5rem;
}


.bio-profile>textarea {
    width: 100%;
    height: 100px;
}


.down-container-profile {
    display: flex;
    gap: 2rem;
    box-sizing: border-box;
    flex-wrap: wrap;
}


.pass-container {
    width: min-content;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-grow: 1;
}

.password-profile {
    width: 220px;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}


.password-profile>input {
    width: 220px;
    height: 35px;
    font-size: 1rem;
}

.eye-password {
    font-size: 1rem;
    box-sizing: border-box;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}


.confirm-password-profile {
    width: 220px;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}


.confirm-password-profile>input {
    box-sizing: border-box;
    width: 220px;
    height: 35px;
    font-size: 1rem;
}

.picture-container {
    display: flex;
    flex-grow: 1;
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;
}

.picture-container .picture {
    gap: 1rem;
    background-color: #B5C99A;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
    font-size: 12px;
}

#chosen-file {
    font-size: 12px;
}


.edit-button-profile {
    margin: 2rem auto;
    width: 180px;
    height: 40px;
    border-radius: 7px;
    font-size: 1.3rem;
    background-color: #B5C99A;
    border: none;
    cursor: pointer;
    justify-self: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.618);
}


@media (max-width: 768px) {
    .edit-profile-page {
        margin-bottom: 1rem;
        width: 90%;
        gap: 0;
    }
    .input-container-profile {
        gap: 0;
    }
    .up-container-profile {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .up-container-profile label {
        width: 100%;
    }
    .first-name-profile>input, .last-name-profile>input, .bio-profile>textarea, .email-profile>input, .confirm-email-profile>input, .password-profile>input, .confirm-password-profile>input {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 1rem;
    }
    .error-text {
        width: 100%;
        margin: 0;
    }
    .email-profile, .confirm-email-profile {
        width: 100%;
    }
    .pass-container {
        width: 100%;
        flex-direction: column;
    }
    .password-profile, .confirm-password-profile {
        width: 100%;
    }
    .down-container-profile {
        width: 100%;
    }
    .picture-container {
        flex-direction: column;
    }
    #chosen-file {
        margin: 0 auto;
    }
    .picture-container .picture{
        width: 100%;
    }
    .edit-button-profile {
        width: 100%;
    }
}
