.ad-page {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto 1.5rem auto;
}

.ad-page h2 {
    width: 80vw;
    max-width: 1200px;
    margin-top: 2rem;
    color: #718355;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 0;
}

.ad-page .description {
    width: 80vw;
    max-width: 1200px;
    margin-bottom: 1rem;
}


.ad-page .label-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.ad-page div label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.ad-page input {
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    background-color: #B5C99A;
}

.error-city {
    color: red;
}

.ad-page input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.description-label {
    width: 100%;
}

.description-house {
    margin-bottom: 1rem;
}

.ad-page textarea {
    height: 15vh;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: #B5C99A;
    padding: 0.5rem
}

.button-new-house-container {
    text-align: center;
}

#ad-button {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #B5C99A;
    box-shadow: 1px 1px 3px;
    margin: 0 auto;
    cursor: pointer;
}

@media (max-width:768px) {

    .ad-page {
        width: 97vw;
    }

    .ad-page div {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 1rem;
        max-width: none;
    }

    .ad-page div label {
        width: 100%;
    }

    #ad-button {
        width: 100%;
        padding: 15px;
    }

    #picture-container {
        display: flex;
        flex-direction: row;
    }
}