.main-section {
    margin: 0 auto 1rem auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.main-section h2 {
    width: 80vw;
    max-width: 1200px;
    margin-top: 2rem;
    color: #718355;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 0;
}
.main-section .description {
    width: 80vw;
    max-width: 1200px;
    margin-bottom: 1rem;
}


.rental-history .card-offered-booking {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #718355;
    padding-bottom: 1rem;
    justify-content: space-around;
    width: 80vw;
    max-width: 1200px;
    margin-top: 1rem;
}

.card-offered-booking .picture-offered-booking {
    height: 12rem;
    width: 40vw;
    max-width: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    flex-shrink: 0;
}

.info-offered {
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: space-around;
    flex-grow: 1;
    gap: 0.5rem;
}

.title-offered-booking {
    font-size: 1.5rem;
    color: #718355;
    font-weight: bold;
}

.tenant-avatar {
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
}

.owner-rating-tenant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.for-rating abbr {
    text-decoration: none;
    font-size: xx-large;
    cursor: pointer;
}

.button-rating {
    padding: 0.7rem;
    width: 100px;
    border-radius: 10px;
    background-color: #B5C99A;
    box-shadow: 1px 1px 3px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}


.button-owner-offered {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.button-owner-offered .next-button, .button-owner-offered .prev-button {
    cursor: pointer;
}

.tenant-data p {
    margin: 0;
    padding: 0;
}

@media(max-width: 768px) {
    .main-section>h2 {
        margin-left: 1rem;
        text-align: center;
    }
    .main-section .description {
        text-align: center;
    }

    .card-offered-booking {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .card-offered-booking .picture-offered-booking {
        width: 80vw;
    }

    .card-offerred-booking .info-offered, .puntuacion, .title-historic-booking {
        font-size: 1rem;
        width: 80vw;
        display: block;
        margin: 0.5rem auto;
        margin-top: 0.5rem;
        text-align: center;
    }
    .for-rating {
        text-align: center;
    }
    .owner-rating-tenant {
        flex-direction: column;
        gap: 0;
    }

    .button-rating {
        align-self: inherit;
        width: 100%;
    }
    .info-offered {
        height: auto;
    }
}