.pic-upload {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 auto 1.5rem auto;
  }

.pic-upload .ad-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}


.pic-upload .preview {
    width: 90px;
    height: 90px;
    background-position: center;
    background-size: cover;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px;
    padding: 0;
}

.pic-upload .ad-image button {
  height: 25px;
  width: 90px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px;
  background-color: #B5C99A;
}

.pic-upload .ad-image button:hover {
  cursor: pointer;
}

.pic-upload .preview.add {
  background-color: #B5C99A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.pic-upload .preview.add::before {
  content: '➕';
}

.pic-upload .preview.add input {
  display: none
}
