.ad {
    margin: 2rem auto;
    width: 80vw;
    max-width: 1200px;
    flex-grow: 1;

}
.ad-info {
    display: flex;
    justify-content:space-between;
    gap: 3rem;
}

.ad-info .main-picture {
    height: 25rem;
    width: 50vw;
    max-width: 45rem;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex-shrink: 0;
}

.ad-info .main-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: space-around;
}



.ad-info .main-info .owner {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ad-info .main-info .owner .owner-pic {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-size: cover;
}

.ad-info .main-info .owner .owner-name {
    white-space: nowrap;
}

.ad-info .main-info .owner .puntuacion {
    margin: 0;
    width: auto;
}


.ad-info .main-info h2 {
    font-size: 1.6em;
    margin: 0;
}

.ad-info .main-info .dates {
    display: flex;
    gap: 1rem;
}

.dates .date {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.booking-btn {
    padding: 0.7rem;
    border-radius: 10px;
    background-color: #B5C99A;
    box-shadow: 1px 1px 3px;
    border: none;
    cursor: pointer;
}

.booking-btn:hover {
    cursor: pointer;
}

.all-pictures {
    margin: 2rem 0;
}

.all-pictures .pictures {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.all-pictures .pictures .small-picture {
    height: 5rem;
    width: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%;
    cursor: pointer;
}

.all-pictures .pics-steps-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.all-pictures .pics-steps-buttons .step-button  {
    cursor: pointer;
}

.ad .back-button {
    padding: 0.7rem;
    width: 120px;
    border-radius: 10px;
    background-color: #B5C99A;
    box-shadow: 1px 1px 3px;
    border: none;
    cursor: pointer;
    margin: 1rem auto;
    display: flex;
}

@media (max-width:768px) {
    .ad-info {
        flex-direction: column;
    }

    .ad-info .main-picture {
        width: 80vw;
        height: 20rem;
    }

    .ad .back-button {
        width: 100%;
    }
}