@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background-color: #CFE1B9;
    flex-grow: 0;
    padding: 1.5rem 3rem;
}

.header .search-user-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .title {
    text-decoration: none;
    color: #485336;
    font-size: 4rem;
    padding: 0 1rem;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
}

.header .menu-login-register {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    cursor: pointer;
}

.header .menu-login-register div {
    color: black;
    text-decoration: underline;
    font-size: 20px;
}

.search-icon-container .search-icon {
    border-radius: 15PX;
    padding: 0.5rem 0.5rem;
    text-align: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

#avatar {
    padding: 0 auto;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
}


.logout-boton {
    color: black;
    font-weight: bold;
}

.logout-boton:hover {
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width:768px) {

    .header {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .header .search-user-container{
        flex-direction: column-reverse;
        gap: inherit;
    }

    .header .search-user-container .search-icon-container {
        border-radius: 15px;
        display: flex;
        justify-content: center;
        width: 95vw;
        background-color: #97A97C;
        box-shadow: 1px 1px 3px;
    }

    .header .title {
        text-decoration: none;
        font-size: 2rem;
        text-align: center;
        padding: 0;
    } 

    .header .menu-login-register  {
        display: flex;
        width: 100vw;
        height: min-content;
        margin: 0;
        padding: 0;
        padding-bottom: 8px;
        font-size: 20px;
    }

    .header .menu-login-register div {
        margin: 0;
        padding: 0;
    }

    #name-profile {
        display: none;
    }
}

@media (max-width:480px) {
    .header .title {
        font-size: 1.7rem;
        white-space: nowrap;
    }
}