.image-home {
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
}

.image-home:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-home h2{
    color: #B5C99A;
    font-size: 4rem;
    position: relative;
    padding-left: 2rem;
}

@media (max-width: 480px) {
    .image-home h2{
        font-size: 3rem;
    }
}
